<!-- Soal No 2 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>{{ 'Nilai a : ' + a }}</h1>
    <h1>{{ 'Rata-rata : ' + b }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    // lengkapi kode di bawah
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
        b : 0
      },
      // computed : {
      //   get : function(){
      //       return this.a + 1
      //       return this.b % 4
      //   }
      // },
      methods : {
        openForm : function(){
            this.a = prompt("Masukkan nilai a : ")
            this.a = this.a * 1 + 6
            this.b = this.a / 4            
        }
      }
  })
  </script>
</body>
</html>