<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label{
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
    </style>
</head>

<!-- Kak maaf saya masih belum begitu faham mengenai componentVue, maka dari itu saya sudahi sampai disini dahulu, di kemudian kesempatan saya akan melanjutkannya, terima kasih -->

<body>
    <div id="app">
        <form @submit.prevent="submitForm()" >
            <p v-if="errors.length">
                <b>Please correct the following errors : </b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <!-- form pengisian data -->
            <label>Name : </label>
            <input type="text" name="name" :disabled="buttonStatus == 'upload'" ref="name" v-model="name">
            <label>Address : </label>
            <textarea v-model="address" :disabled="buttonStatus == 'upload'" ref="address"></textarea>
            <label>No Hp : </label>
            <input type="number" name="no_hp" :disabled="buttonStatus == 'upload'" ref="no_hp" v-model="no_hp">

            <!-- button submit -->
            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT" style="margin-top: 5px;">
            </div>

            <!-- button edit -->
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateMember(idEditMember)">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;">
            </div>

            <!-- button upload photo -->
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo_profile" ref="photo_profile">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="margin-top: 5px; margin-bottom: 5px;">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 2px;">
            </div>
        </form>

        <br><br>

        <!-- bagian memunculkan data yang ada -->
            <members-component>
            </members-component>
    </div>

    <!-- <template id="members-component">
        <table border="1">
        </table>
    </template>

    <template id="tr-component">
        <tr v-for="member of members">
        </tr>
    </template>

    <template id="img-component">
        <td>
            <img width="100" :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="">
        </td>
    </template>

    <template id="data-component">
        <td>
            <b>Name : </b> {{ member.name }} <br>
            <b>Address : </b> {{ member.address }} <br>
            <b>No HP : </b> {{ member.no_hp }} <br>
        </td>
    </template>

    <template id="button-component">
        <td>
            <button @click="editMember(member)">Edit</button>
            <button @click="removeMember(member.id)">Hapus</button>
            <button @click="uploadPhoto(member)">Upload Foto</button>
        </td>
    </template> -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- menyambungkan axios dengan adn -->>
    <script>
        // Vue.component('members-component' , { // kebab case
        //     template : '#members-component'
        // })
        
        // Vue.component('tr-component' , {
        //     template : '#tr-component'
        // })

        // Vue.component('img-component' , {
        //     template : '#img-component'
        // })

        // Vue.component('data-component' , {
        //     template : '#data-component'
        // })

        // Vue.component('button-component' , {
        //     template : '#button-component'
        // })
        
        // Vue.component('MembersComponent' , { // pascal case namun pemanggilan sama dengan kebab case
        //     template : '#members-component'
        // })

        var MembersComponent = {
            template : `
                <div>
                    <table border="1">
                        <tr v-for="member of members">
                            <td>
                                <img width="100" :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="">
                            </td>
                            <td>
                                <b>Name : </b> {{ member.name }} <br>
                                <b>Address : </b> {{ member.address }} <br>
                                <b>No HP : </b> {{ member.no_hp }} <br>
                            </td>
                            <td>
                                <button @click="editMember(member)">Edit</button>
                                <button @click="removeMember(member.id)">Hapus</button>
                                <button @click="uploadPhoto(member)">Upload Foto</button>
                            </td>
                        </tr>
                    </table>
                </div>
            `
        }
        
        new Vue({
            el : '#app',
            components : {
                'members-component' : MembersComponent
            },
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors : [],
                members: [],
                photoDomain : 'http://demo-api-vue.sanbercloud.com',
                buttonStatus : 'submit',
                idEditMember : null,
                idUploadMember : null
            },
            methods : {

                // error
                validationForm : function(){
                    this.errors = []

                    if(this.name.length < 5){
                        this.errors.push(`Tittle minimal 5 karakter`)
                        this.$refs.name.focus()
                    }

                    if(this.address.length > 150){
                        this.errors.push(`Address tidak boleh lebih dari 150 karakter`)
                        this.$refs.address.focus()
                    }
                    
                    if(this.no_hp.length > 20){
                        this.errors.push(`no_hp tidak boleh lebih dari 20 karakter`)
                        this.$refs.no_hp.focus()
                    }
                },
                
                // menghapus data jika sudah menambahkan, edit ataupun upload
                clearForm : function(){
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                },
                
                // untuk menambahkan data
                submitForm : function(){
                    this.validationForm()

                    if(this.errors.length === 0){
                        let formData = new FormData()
                        formData.append('name' , this.name)
                        formData.append('address' , this.address)
                        formData.append('no_hp' , this.no_hp)
                        
                        // membuat variabel dulu
                        const config = {
                            method : "post",
                            url : "http://demo-api-vue.sanbercloud.com/api/member",
                            data : formData
                        }
                        
                        // manggil axios nya
                        axios(config)
                            .then( (response) => {
                                this.clearForm()
                                this.getData()
                                alert(response.data.message)
                            })
                            .catch( (error) => {
                                
                            })
                    }
                },

                // untuk munculin semua data
                getData: function(){
                    const config = {
                        method : "get",
                        url : "http://demo-api-vue.sanbercloud.com/api/member"
                    }
                    
                    axios(config)
                        .then( (response) => {
                            this.members = response.data.members
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                },

                // untuk menghapus data yang di pilih dengan id
                removeMember: function(id){
                    const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : { _method : "DELETE" }
                    }

                    axios(config)
                        .then( (response) => {
                            this.getData()
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                    
                    console.log(id)
                },

                // edit
                editMember: function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                },

                // mengclear ketika sudah edit
                clearForm: function(){
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEditMember = null
                    this.idUploadMember = null
                },

                // edit member
                updateMember: function(id){
                    this.validationForm()

                    if( this.errors.length === 0 ){
                        let formData = new FormData()
                        formData.append('name' , this.name)
                        formData.append('address' , this.address)
                        formData.append('no_hp' , this.no_hp)

                        let config = {
                            method : "post",
                            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params : { _method : 'PUT'},
                            data : formData
                        }
                        
                        axios(config)
                            .then( (response) => {
                                this.clearForm()
                                this.getData()

                                alert(response.data.message)
                            })
                            .catch( (error) => {
                                console.log(error)
                            })
                    }
                },

                // upload poto
                uploadPhoto: function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = member.id
                },

                // bagian masukkin photo nya ke dalam data
                submitPhoto : function(id){
                    let file = this.$refs.photo_profile.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile' , file)

                    let config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data : formData
                    }

                    axios(config)
                        .then( (response) => {
                            this.clearForm()
                            this.getData()

                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                }
            },

            // fungsi yang di panggil setelah data nya di buat
            created(){
                this.getData()
            }
            })
    </script>
</body>
</html>