/* struktur css */
/* selector {
    properti: nilai;
   } */


   
/* div.head {
    background-color: aquamarine;
}

div.body {
    background-color: yellowgreen;
} */

body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

hr {
    border: 3px solid white;
}

fieldset {
    border: 3px solid white;
}

table {
    text-align: center;
    width: 100%;
}

.center {
    text-align: center;
    width: 25%;
    margin-right: 300px;
    margin-left: 500px;
}

#judul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    /* background-color: gray; */
    font-size: 30px;
    font: bolder;
}

.bold {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 200px;
    font: bolder;
}

.right {
    display: flex;
    position: fixed;
    right: 0px
}

.bg-plum {
    background: plum;
}

.bg-indigo {
    background: #dfc6f6;
}

.bg-des {
    background: #dfc6f6;
    padding: 5px;
    margin: 5px;
}

.bio {
    text-align: center;
    /* background-color: hotpink; */
    font-size: 30px;
    margin: 5px;
}

img {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.paragraph {
    color: black;
    text-align: center;
    margin: 5px;
    padding: 15px;
    font-size: 25px;
}

.footer {
    text-align: center;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    display:inline-table;
    padding: 5px;
}

/* sebelum di klik */
.menu:link {
    color: turquoise;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

/* kondisi setelah di klik */
.menu:visited {
    color: magenta;
}

/* kondisi pas cursor berada pada link */
.menu:hover {
    color: green;
}

/* ketika link di klik */
.menu:active {
    color: blue;
}

.list {
    background-color: powderblue;
    display: block;
}

#tengah {
    color: violet;
}

table tr td{
    text-align: center;
    text-decoration: none;
}

span {
    display:inline;
    top: 0px;
    text-align: justify;
}

.down {
    text-align: justify;
}

.line {
    /* untuk jarak d awal paragraf */
    /* text-indent: 30px; */
    padding: 10px;
}

.paragrapht {
    color: black;
    text-align: center;
    margin: 5px;
    padding: 15px;
    font-size: 20px;
}

#bawah {
    background: #dfc6f6;
    width: auto;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;

}