<!-- Quiz 2 -->


<!-- users : [
    {
        'name' : 'Muhammad Iqbal Mubarok',
    },
    {
        'name' : 'Ruby Purwanti',
    },
    {
        'name' : 'Faqih Muhammad',
    },

    ], -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
          <input v-model="newUsers" type="text" placeholder="Silahkan masukkan nama" />
          <button @submit="addUser()">Add</button>
        <ul>
            <li v-for="item in users" v-bind:key="item">
                {{ item.names }}
            </li>
        </ul>
    </div>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                newUsers: '',
                users : [
                    {name : 'Muhammad Iqbal Mubarok'},
                    {name : 'Ruby Purwanti'},
                    {name : 'Faqih Muhammad'}
                ]
            },
            methods: {
                addUser: function () {
                    this.users.push({name: this.newUsers});
                    this.newUsers = "";
                }
            }
        })
    </script>
</body>
</html>

<!-- maaf kak, saya banyak terjadi kendala ketika mengerjakan quiz ini, laptop saya tiba tiba ngefreez sekitar setangah jaman lebih, google chrome saya error serta vscode saya menjadi lemot, sebab itu saya hanya bisa mengerjakan sampai sini saja belum selesai
di karenakan waktunya sebentar lagi, saya mohon maaf kak, ke dapannya saya akan berusaha semaksimal mungkin. terima kasih :) -->